.Noscroll .all {
    overflow-x: hidden;
}
.heading {
    color: aqua;
    font-size: 18pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#About_Me_Page {
    font-size: 22pt;
    color: aqua
}
.lines {
    color:aqua;
    font-size: 14pt;
    font-family:'Times New Roman', Times, serif
}
.highlight {
  background-color: yellow;
  margin: 10px;
  padding: 10px;
  color: black
}
.mainhead {
    font-size: 20pt;
    color: red;
}
#cool {
   width: 400px;
   height:200px;
}
#running {
    width: 400px;
   height:200px;
}
#meal {
   width: 400px;
   height:200px;
}
#Navigationhud .links  {
    display: flex;
    background-color: gray;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
Navigationhud  {
    list-style-type: none;
}

#Navigationhud  {
    color: white;
}
.all {
    background-color: gray
}
#hobbies {
    color: aqua
}
.data {
    color:aqua
}
.column {
    font-size: 16pt;
}
.info {
    font-size: 14pt;
}
@media (max-width: 600px) {
    .heading {
    color: aqua;
    font-size: 13pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.lines {
    color:aqua;
    font-size: 8pt;
    font-family:'Times New Roman', Times, serif
}
.highlight {
  background-color: yellow;
  margin: 5px;
  padding: 5px;
}
.mainhead {
    font-size: 15pt;
    color: red;
}
#cool {
    border: 10%
}
#Navigationhud .links {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
Navigationhud  {
    list-style-type: none;
}

#Navigationhud  {
    color: white;
}
.all {
    background-color: black
}
#hobbies {
    color: aqua
}
.data {
    color: white
}
.Noscroll .all {
    overflow-x:hidden;
}
}